<div class="shell" *transloco="let t; prefix: 'AUTH.RESET_PASSWORD'">
  <mat-card class="card">
    <div class="language-container">
      <app-language-switcher />
    </div>

    <mat-card-header class="center-header">
      <div class="brand-logo">
        <app-logo [logoLg]="true" [vertical]="true" />
      </div>

      <h1 class="title">{{ t('TITLE') }}</h1>
      <h3 class="subtitle">{{ t('SUBTITLE') }}</h3>
    </mat-card-header>

    <mat-card-content class="body">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true" class="full-width">
          <mat-label>{{ t('EMAIL') }}</mat-label>
          <input
            matInput
            [(ngModel)]="email"
            name="email"
            type="email"
            required
            email
            #emailCtrl="ngModel"
          />
          <mat-error> {{ t('ERROR_MESSAGE') }} </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!email || emailCtrl.invalid"
          class="primary-btn primary-btn-100"
        >
          {{ t('BUTTON') }}
        </button>
      </form>
    </mat-card-content>

    <mat-card-footer class="auth-footer">
      <p>
        {{ t('REMEMBERED') }} <a routerLink="/auth/signin"> {{ t('LOGIN') }} </a>
      </p>
    </mat-card-footer>
  </mat-card>
</div>
