// Language Start
.language-container {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 2;
}

// Header Start
.center-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-4);
  text-align: center;

  .brand-logo {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-6);
  }

  .title {
    color: var(--primary);
    font-weight: var(--fw-bold);
    margin-bottom: var(--spacing-4);
  }

  .subtitle {
    color: var(--text-secondary);
    font-weight: var(--fw-medium);
    margin-bottom: var(--spacing-2);
  }
}
.actions {
  display: flex;
  flex-direction: column;
}

.auth-footer {
  text-align: center;
  padding-top: var(--spacing-4);
  margin-top: var(--spacing-4);
  border-top: 1px solid #eee;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
