.card {
  width: auto;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-base);
  max-width: 30rem;
  width: 94%;
}

// Language Start
.language-container {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  z-index: 2;
}

// Header Start
.center-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-4);
  text-align: center;
  padding: 0;

  .brand-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .title {
    color: var(--primary);
    font-weight: var(--fw-bold);
    margin-bottom: var(--spacing-4);
  }

  .subtitle {
    color: var(--text-secondary);
    font-weight: var(--fw-medium);
    margin-bottom: var(--spacing-2);
  }
}

.body {
  width: 100%;
  padding: 0;
}

.full-width {
  margin-bottom: 0.75rem;
}

.primary-btn {
  height: 3.25rem;
}

.auth-footer {
  width: 100%;
  text-align: center;
  padding-top: var(--spacing-6);
  margin-top: var(--spacing-6);
  border-top: 1px solid #eee;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
