:host {
  display: block;
  height: 100vh;
  height: 100dvh;
}

.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-8);
  position: relative;
}

/* --- MOBILE (Floating Pill) --- */
@media (max-width: 1000px) {
  .app-container {
    grid-template-columns: 1fr;
  }

  .content-area {
    height: 100vh;
    height: 100dvh;

    padding: var(--spacing-3);
    padding-bottom: 6rem;
  }
}
