$nav-width: 16.25rem;
$nav-width-collapsed: 5.5rem;

:host {
  display: flex;
  height: 100%;
}

/* --- DESKTOP STYLES --- */
.shell {
  display: none;
}

.main-nav {
  display: flex;
  flex-direction: column;

  height: 100%;

  width: $nav-width;
  padding: 5rem 1.5rem 2rem;

  background: var(--white);
  border-right: 1px solid #eee;

  position: relative;
  z-index: 100;

  transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), padding 0.3s ease;
  overflow: hidden;

  @media (min-width: 1000px) {
    &.closed {
      width: $nav-width-collapsed;
      padding: 4rem 0.75rem 2rem;

      .toggle-btn {
        right: 50%;
        transform: translateX(50%);
      }

      .nav-brand {
        margin-bottom: 0.5rem;
      }

      .logo-wrapper {
        &.text {
          opacity: 0;
          pointer-events: none;
        }

        &.icon {
          opacity: 1;
        }
      }

      .nav-item {
        padding-left: 1.2rem;
        transition: all 0.3s ease;

        .label {
          opacity: 0;
          transform: translateX(-10px);
        }
      }

      .profile-item {
        padding-left: 0.75rem;
      }
    }
  }
}

.toggle-btn {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);
  color: var(--text-secondary);
  transition: all 0.3s ease;

  &.closed {
    transform: rotate(180deg);
  }
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  height: 7rem;
  transition: height 0.3s;
}

.logo-wrapper {
  position: absolute;
  transition: transform 0.3s ease, opacity 0.1s ease;

  &.text {
    opacity: 1;
    transform: scale(1);
  }
  &.icon {
    transform: scale(0.9);
    opacity: 0;
  }
}

.nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-block {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);

    overflow: hidden;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);

  width: 100%;
  height: 3rem;
  padding: 0 var(--spacing-4);

  border-radius: 12px;
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;

  transition: all 0.2s;

  .nav-icon {
    flex-shrink: 0;
    color: var(--text-secondary);
    transition: color 0.2s;
  }

  .label {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s ease, transform 0.2s ease;
    transition-delay: 0.05s;
  }

  &:hover,
  &.active {
    background-color: var(--primary);
    color: var(--white);

    .nav-icon {
      color: var(--white);
    }
  }
}

.spacer {
  border-top: 1px solid #f0f0f0;
  margin: 1rem 0;
  transform: scaleX(200%);
  width: 100%;
}

.profile-circle {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--secondary);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--primary);
  border: 2px solid var(--primary);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-item {
  height: auto;
  padding: var(--spacing-2);
  gap: var(--spacing-3);
}

/* --- MOBILE (Floating Pill) --- */
@media (max-width: 1000px) {
  .shell {
    display: block;
    position: absolute;
    inset: 0;

    background: rgba(#f8faff, 0.4);
    backdrop-filter: blur(5px);

    z-index: 99;

    transition: all 0.3s ease;
  }

  .main-nav {
    position: fixed;
    overflow: visible;

    transition: all 0.3s ease;

    &.closed {
      transform: translateX(-100%);

      & + .shell {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }

      .toggle-btn {
        right: -3.25rem;
        top: 4.4rem;
        background: var(--white-hover);
      }
    }
  }
}
