<nav class="main-nav" [class.closed]="isCollapsed()">
  <button
    class="toggle-btn toggle-btn-both"
    [class.closed]="!isCollapsed()"
    mat-icon-button
    (click)="toggleMenu()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>

  <div class="nav-brand">
    <div class="logo-wrapper text">
      <app-logo [vertical]="true" />
    </div>
    <div class="logo-wrapper icon">
      <app-logo [vertical]="true" [showText]="false" />
    </div>
  </div>

  <div class="nav-links">
    <div class="nav-links-block">
      <a
        routerLink="/feature/calendar"
        (click)="toggleMenu()"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon class="nav-icon">calendar_today</mat-icon>
        <span class="label">Reservations</span>
      </a>

      <a
        routerLink="/feature/guests"
        (click)="toggleMenu()"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon class="nav-icon">group</mat-icon>
        <span class="label">Guests</span>
      </a>

      <a
        routerLink="/feature/properties"
        (click)="toggleMenu()"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon class="nav-icon">apartment</mat-icon>
        <span class="label">Properties</span>
      </a>
    </div>

    <div class="nav-links-block">
      <app-language-switcher class="language-switcher" />

      <div class="spacer"></div>

      <a
        routerLink="/feature/profile"
        (click)="toggleMenu()"
        routerLinkActive="active"
        class="nav-item profile-item"
      >
        <div class="profile-circle">
          @if (user()?.photoURL) {
          <img [src]="user()?.photoURL" alt="Me" />
          } @else {
          <span>{{ getInitials(user()?.displayName) }}</span>
          }
        </div>
        <span class="label">Profile</span>
      </a>

      <button type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="shell" (click)="toggleMenu()"></div>
