.logo-container {
  display: flex;
  align-items: center;
  width: min-content;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  &.logo-sm {
    gap: var(--spacing-3);

    .logo-text {
      font-size: var(--fs-2xl);
    }

    img {
      width: 3rem;
    }
  }

  &.logo-lg {
    gap: var(--spacing-5);

    .logo-text {
      font-size: var(--fs-4xl);
    }
    img {
      width: 5rem;
    }
  }

  img {
    height: auto;
  }
}

.logo-text {
  font-weight: var(--fw-medium);

  color: var(--primary);

  padding-top: 0.6rem;

  span {
    color: var(--secondary);
  }

  &.white {
    color: var(--white);
  }
}
