:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

// Calendar Day Start

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: var(--spacing-2) 0;
  background-color: var(--white);

  @media (min-width: 700px) {
    padding-block: var(--spacing-3);
  }
}

.day-name {
  text-align: center;
  font-weight: 600;
  color: var(--text-secondary);

  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &:nth-child(6),
  &:nth-child(7) {
    color: var(--primary);
  }
}

// Calendar Day End

.calendar-grid {
  width: 100%;
  height: 100%;

  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--white);

  &.month {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
  }

  &.week {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
  }
}

// Day Cell Layout Start

.day-cell {
  border-right: 1px solid var(--grid-border-color);
  border-top: 1px solid var(--grid-border-color);

  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-2);
  cursor: pointer;

  position: relative;

  overflow: hidden;

  transition: background-color 0.2s;

  &:nth-child(7n) {
    border-right: none;
  }

  &.empty {
    background-color: #fbfbfb;
    cursor: default;
  }

  &:hover:not(.empty) {
    background-color: var(--hover-bg);
  }

  .calendar-grid.month &:nth-child(7n-1),
  .calendar-grid.month &:nth-child(7n),
  .calendar-grid.week &:nth-child(7n-1),
  .calendar-grid.week &:nth-child(7n) {
    background-color: var(--weekend-bg);

    &:hover:not(.empty) {
      background-color: var(--hover-bg);
    }
  }
}

.cell-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-1);

  .calendar-grid.week & {
    justify-content: center;

    padding: var(--spacing-3);
  }

  @media (min-width: 700px) {
    justify-content: start;

    padding: var(--spacing-1);
  }
}

.day-number {
  font-weight: 500;
  font-size: 0.95rem;
  width: var(--spacing-7);
  height: var(--spacing-7);

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s;

  font-size: 0.9rem;

  color: var(--black);

  .day-cell.today & {
    background: var(--primary);
    color: var(--white);
  }

  .day-cell.past & {
    color: var(--text-secondary);
  }

  @media (min-width: 700px) {
    width: var(--spacing-8);
    height: var(--spacing-8);

    font-size: 1rem;
  }
}

// Day Cell Layout End

// Actions On Day Cell Start

.actions-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 11;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: var(--spacing-1);

  backdrop-filter: blur(2px);
  z-index: 20;

  @media (min-width: 800px) {
    gap: var(--spacing-5);
  }

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.action-btn {
  transform: scale(0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &.add-btn {
    background: var(--primary);
    color: var(--white);
  }

  &.view-btn {
    background-color: var(--white);
    color: var(--text-secondary);
  }

  @media (min-width: 800px) {
    transform: scale(1.1);
  }
}

// Actions On Day Cell End

// Reservations Start

.reservations-stack-container {
  position: relative;
}

.reservations-stack {
  position: absolute;
  left: 0;
  top: 0rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.guest-chip {
  height: 2.1rem;

  padding: 2px;

  display: grid;
  grid-template-columns: 1fr;

  align-items: center;

  background: var(--white);

  gap: var(--spacing-2);

  font-size: 0.75rem;
  color: var(--black);
  // overflow: hidden;
  white-space: nowrap;

  transition: transform 0.1s;
  cursor: pointer;

  border: 1px solid transparent;
  border-top-color: var(--custom-border-color);
  border-bottom-color: var(--custom-border-color);

  &:hover {
    transform: scale(1.02);
    z-index: 2;
  }

  &.chip-start {
    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
    border-left: 3px solid var(--custom-border-color);

    grid-template-columns: 1fr;

    width: calc(100% - var(--spacing-1));
    margin-left: var(--spacing-1);
  }

  &.chip-end {
    border-top-right-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
    border-right: 3px solid var(--custom-border-color);

    grid-template-columns: 1fr;

    width: calc(100% - var(--spacing-1));
    margin-right: var(--spacing-1);
  }

  &.chip-stay {
    justify-content: center;
    margin: 0 0;
    border-radius: 0;

    text-align: center;
  }

  @media (min-width: 700px) {
    padding: 3px 6px;

    &.chip-start {
      width: calc(100% - var(--spacing-2));
      margin-left: var(--spacing-2);

      grid-template-columns: auto 1fr;
    }

    &.chip-end {
      width: calc(100% - var(--spacing-2));
      margin-right: var(--spacing-2);

      grid-template-columns: 1fr auto;

      justify-content: space-between;
    }
  }
}

.tiny-icon {
  font-size: var(--spacing-4);
  width: var(--spacing-4);
  height: var(--spacing-4);
  opacity: 0.6;
  color: var(--text-secondary);

  display: none;

  @media (min-width: 900px) {
    display: block;
  }
}

.chip-content {
  display: flex;
  flex-direction: column;
  line-height: 1;
  overflow: hidden;
  gap: 0.1rem;
}

.chip-time {
  font-size: 0.7rem;
  opacity: 0.7;
  margin-top: 1px;

  display: none;

  @media (min-width: 700px) {
    display: block;
  }
}

.guest-name {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Reservations End

.add-reservation-btn {
  position: absolute;

  z-index: 10;

  bottom: var(--spacing-3);
  right: var(--spacing-3);

  transform: scale(0.9);

  @media (min-width: 500px) {
    bottom: var(--spacing-8);
    right: var(--spacing-8);

    transform: scale(1);
  }
}
