.detail-container {
  padding-bottom: 5rem;
}
.hero-image {
  position: relative;
  width: 100%;
  height: 16rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: var(--black);
  }
}

.content-wrapper {
  .header-section {
    margin-bottom: var(--spacing-4);
  }

  .title {
    margin-top: 0;
    line-height: 1.2;
    color: var(--primary);
  }

  .location-row {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
  }

  .location-icon {
    font-size: 1.2rem;
    width: 1.2rem;
    aspect-ratio: 1;
    margin-right: 4px;
    color: var(--primary);
  }
}

.stats-grid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-4);
  margin: 24px 0;
}
.stat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--black);

  .mat-icon {
    color: var(--primary);
  }
}

.action-section {
  margin-top: 1.5rem;
}
.button-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.error-container {
  text-align: center;
  padding: 3rem;
  font-size: var(--fs-lg);

  .mat-icon {
    color: var(--error);
    font-size: 5rem;
    width: auto;
    height: auto;
  }
}

.social-actions {
  display: flex;
  gap: var(--spacing-2);
  margin-left: auto;
  padding-left: var(--spacing-2);
  border-left: 1px solid var(--text-secondary);
}

.social-btn {
  svg {
    width: 24px;
    height: 24px;
  }

  &.facebook {
    color: var(--facebook-blue);
  }

  &.instagram {
    color: var(--instagram-gradient);
  }

  &.google-maps {
    color: var(--primary);
  }
}

@media (max-width: 330px) {
  .social-actions {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }

  .button-row {
    justify-content: center;
  }
}
