$dayViewCellHeight: 3.75rem;
$gray: #fafafa;

:host {
  display: grid;
  grid-template-columns: auto 1fr;

  position: relative;

  width: 100%;

  overflow-y: auto;

  height: calc($dayViewCellHeight * 24);
}

.time-labels {
  width: $dayViewCellHeight;
  border-right: 1px solid var(--grid-border-color);
  background: $gray;
}

.time-label {
  height: $dayViewCellHeight;
  display: flex;
  justify-content: center;
  font-size: var(--fs-xs);
  color: var(--text-secondary);

  span {
    background: $gray;
    border-bottom: 1px solid var(--grid-border-color);
    padding: 0 4px;
    width: 100%;
    text-align: center;
  }
}

.timeline-grid {
  flex-grow: 1;
  position: relative;
}

.grid-line {
  height: $dayViewCellHeight;
  border-bottom: 1px solid #f0f0f0;
}

//

.timeline-event {
  position: absolute;
  left: var(--spacing-4);
  right: var(--spacing-4);
  border-radius: var(--radius-lg);

  padding: var(--spacing-4);
  overflow: hidden;

  background: var(--secondary);

  &.continues-from-prev {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 4px dashed rgba(0, 0, 0, 0.2);
    padding-top: 1.5rem;
  }

  &.continues-to-next {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 4px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 1.5rem;
  }

  .event-date-info {
    font-size: var(--fs-lg);
    font-weight: 500;
    color: var(--black);
    margin-bottom: var(--spacing-2);

    &:first-child {
      font-weight: var(--fw-bold);
    }
  }

  .event-guest {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    color: var(--black);
    font-weight: 600;
    font-size: var(--fs-base);
  }
}

.current-time-line-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--red);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: start;

  .current-time {
    background: var(--red);
    padding-block: 0.2rem;
    width: $dayViewCellHeight;
    border-radius: var(--radius-full);

    color: var(--white);
    text-align: center;

    pointer-events: none;

    user-select: none;
    transform: translateX(-100%);
  }
}
