.form {
  padding-top: var(--spacing-2);
}

.input {
  width: 100%;
}

.divider {
  height: 1px;
  background-color: #eee;
  margin-bottom: var(--spacing-4);
}

h3 {
  margin: 0;
  font-weight: 500;
  color: var(--black);

  &.title-margin {
    margin-bottom: var(--spacing-4);
  }
}

.guest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-3);
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.date-time-row {
  display: grid;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-3);

  grid-template-columns: 2fr 1fr;
}

strong {
  font-size: 1.1rem;
  text-align: center;
  display: block;
  color: var(--primary);
}
