<div class="shell" *transloco="let t; prefix: 'AUTH.FORM'">
  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title class="title">Edit Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Name Section -->
        <h3 class="section-title">Personal Info</h3>

        <app-user-personal-form [group]="form" />

        <!-- Contact Section -->
        <h3 class="section-title">Contact & Media</h3>

        <!-- Manage Properties Section -->
        @if (userProperties().length > 0) {
        <mat-divider class="spacer"></mat-divider>

        <div class="property-chips">
          @for (prop of userProperties(); track prop.id) {
          <div class="prop-chip">
            <!-- Placeholder Image -->
            <img
              src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
              alt="Prop"
              class="chip-img"
            />

            <div class="chip-info">
              <span class="prop-name">{{
                prop.alias || prop.name | titlecase | truncate : 40
              }}</span>
              <span class="prop-loc">{{ prop.location | titlecase | truncate : 40 }}</span>
            </div>

            <button
              mat-icon-button
              color="warn"
              class="delete-btn"
              (click)="deleteProperty(prop.id, $event)"
              type="button"
            >
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </div>
          }
        </div>
        }

        <div class="actions">
          <button mat-button type="button" routerLink="/profile">Cancel</button>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || form.pristine"
          >
            Save Changes
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
