:host {
  display: flex;
  height: 100%;
}

.year-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-4);
  padding: var(--spacing-4);
  flex-grow: 1;

  .month-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-xl);
    font-weight: 500;
    border-radius: var(--radius-md);
    border: 1px solid var(--grid-border-color);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: var(--hover-bg);
      border-color: var(--primary);
      color: var(--primary);
    }

    &.selected-month {
      background-color: var(--primary);
      color: var(--white);
      border-color: var(--primary);
    }

    &.current-month:not(.selected-month) {
      border: 2px solid var(--primary);
      color: var(--primary);
      font-weight: var(--fw-bold);
    }
  }

  @media (max-width: var(--screen-tablet)) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap: var(--spacing-2);
    padding: var(--spacing-2);
  }
}
