:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  background: var(--white);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-base);
  overflow: hidden;
  overflow-y: auto;

  @media (max-width: 1000px) {
    border-radius: unset;
  }
}
