$gap: var(--spacing-4);

.calendar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: var(--white);
  border-bottom: 1px solid var(--grid-border-color);
  z-index: 10;

  padding: var(--spacing-3);
  gap: var(--spacing-2);

  .month-navigator {
    display: flex;
    align-items: center;
    gap: 0;
  }

  .current-label {
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: var(--black);

    font-size: var(--fs-lg);
    min-width: 5rem;
    max-width: 15rem;
  }

  @media (min-width: 600px) {
    padding: var(--spacing-4) var(--spacing-6);

    .month-navigator {
      gap: var(--spacing-2);
    }

    .current-label {
      font-size: var(--fs-xl);
      min-width: 20rem;
      max-width: none;
    }
  }

  @media (min-width: 700px) {
    padding-block: var(--spacing-4);
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    gap: $gap;

    .month-navigator {
      gap: $gap;
    }
  }
}
