$gap: var(--spacing-4);

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: $gap;

  padding: var(--spacing-4) var(--spacing-6);
  background: var(--white);
  border-bottom: 1px solid var(--grid-border-color);
  z-index: 10;

  .month-navigator {
    display: flex;
    align-items: center;
    gap: $gap;
  }

  .current-label {
    margin: 0;
    min-width: 20rem;
    text-align: center;
    font-size: var(--fs-xl);
    font-weight: 600;
    color: var(--black);
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: var(--spacing-2);
    justify-content: center;

    .month-navigator {
      gap: var(--spacing-2);
    }
  }

  @media (max-width: 600px) {
    .month-navigator {
      gap: 0;
    }

    .current-label {
      font-size: var(--fs-lg);
      min-width: 5rem;
      max-width: 15rem;
    }
  }
}
