.shell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100vh;
}

.container {
  padding: var(--spacing-4);
  max-width: 50rem;
  margin: 0 auto;
}

// AUTH Strat

$card-radius: 1.5rem;

.card {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5rem 2rem 2rem;

  // box-shadow: 0px 1.4px 2.2px rgba(0, 0, 0, 0.02), 0px 3.3px 5.3px rgba(0, 0, 0, 0.028),
  //   0px 6.3px 10px rgba(0, 0, 0, 0.035), 0px 11.2px 17.9px rgba(0, 0, 0, 0.042),
  //   0px 20.9px 33.4px rgba(0, 0, 0, 0.05), 0px 50px 80px rgba(0, 0, 0, 0.07) !important;

  @media (max-width: 500px) {
    padding: 2rem 1rem;
  }
}

// AUTH End
