// Inputs Start

.mdc-text-field--outlined:not(.mdc-text-field--invalid) {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--text-secondary) !important;
  }

  .mdc-floating-label {
    color: var(--text-secondary) !important;
  }
}

.mdc-text-field--outlined:not(.mdc-text-field--invalid) .mdc-notched-outline--notched {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--primary) !important;
  }

  .mdc-floating-label {
    color: var(--primary) !important;
  }
}

// Inputs End

//  Toast Start

.error-toast {
  .mdc-snackbar__surface {
    background-color: var(--error) !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
    font-weight: 500;
  }

  .mat-mdc-snack-bar-action {
    color: #ffffff !important;
  }
}

.success-toast {
  .mdc-snackbar__surface {
    background-color: var(--primary) !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
    font-weight: 500;
  }

  .mat-mdc-snack-bar-action {
    color: #ffffff !important;
  }
}

//  Toast End
