@use '@angular/material' as mat;

// Spinner Start
:root {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--primary),
    )
  );
}
// Spinner End

// Inputs Start
mat-icon[matPrefix] {
  color: var(--text-secondary);
}

/* Target the specific form field */
.blue-border-input {
  /* 1. The border color when the input is NOT focused */
  --mdc-outlined-text-field-outline-color: blue;

  /* 2. The border color when the input IS focused */
  --mdc-outlined-text-field-focus-outline-color: blue;

  /* 3. The border color when hovering */
  --mdc-outlined-text-field-hover-outline-color: darkblue;

  /* Optional: Change the label and caret color to match */
  --mdc-outlined-text-field-focus-label-text-color: blue;
  --mdc-outlined-text-field-caret-color: blue;
}

.mat-mdc-form-field {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-icon-prefix mat-icon {
      color: var(--primary) !important;
    }

    .mat-mdc-form-field-infix {
      z-index: 2;
    }
    .mat-mdc-input-element {
      color: var(--black) !important;
      z-index: 1;
    }

    .mat-mdc-notch-piece {
      border-color: transparent !important;
      background: var(--secondary);
      z-index: 2;

      &.mdc-notched-outline__leading {
      }

      &.mdc-notched-outline__trailing {
      }

      &.mdc-notched-outline__notch {
      }
    }
  }

  &.mat-focused:not(.mat-form-field-invalid) {
    .mdc-text-field--focused {
      .mat-mdc-notch-piece {
        border-color: var(--primary) !important;

        &.mdc-notched-outline__leading {
          border-right-color: transparent !important;
        }

        &.mdc-notched-outline__trailing {
          border-left-color: transparent !important;
        }

        &.mdc-notched-outline__notch {
          border-top-color: transparent !important;
        }
      }
    }
  }

  &.mat-form-field-invalid {
    .mat-mdc-form-field-icon-prefix mat-icon {
      color: var(--red) !important;
    }

    .mat-mdc-notch-piece {
      border-color: var(--red) !important;

      &.mdc-notched-outline__leading {
        border-right-color: transparent !important;
      }

      &.mdc-notched-outline__trailing {
        border-left-color: transparent !important;
      }

      &.mdc-notched-outline__notch {
        border-top-color: transparent !important;
      }
    }
  }
}

// .mdc-text-field--focused .mdc-notched-outline--no-label:not(.mdc-text-field--invalid) {
//   .mdc-notched-outline__leading,
//   .mdc-notched-outline__notch,
//   .mdc-notched-outline__trailing {
//     border: 2px solid var(--primary) !important;
//     // background: var(--secondary);

//     &::placeholder {
//       background: red !important;
//     }
//   }

//   .mat-mdc-input-element {
//     color: red !important;
//   }

//   .mdc-notched-outline__notch,
//   .mdc-notched-outline__trailing {
//     border-color: var(--text-secondary) !important;
//     border-left-color: transparent !important;
//   }

//   .mdc-notched-outline--notched {
//     .mdc-notched-outline__leading,
//     .mdc-notched-outline__notch,
//     .mdc-notched-outline__trailing {
//       border-color: var(--primary) !important;
//     }

//     .mdc-notched-outline__notch,
//     .mdc-notched-outline__trailing {
//       border-left-color: transparent !important;
//     }
//   }
// }

.full-width {
  width: 100%;
  margin-bottom: var(--spacing-4);
}

// Inputs End

//  Snackbar Start

.error-snackbar {
  .mdc-snackbar__surface {
    background-color: var(--error) !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
    font-weight: 500;
  }

  .mat-mdc-snack-bar-action {
    color: #ffffff !important;
  }
}

.success-snackbar {
  .mdc-snackbar__surface {
    background-color: var(--primary) !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
    font-weight: 500;
  }

  .mat-mdc-snack-bar-action {
    color: #ffffff !important;
  }
}

//  Snackbar End

// Primary Btn Start

.primary-btn {
  letter-spacing: 0.5px;

  transition: all 0.2s ease !important;
}

.primary-btn-100 {
  width: 100%;
}

$primaryBtnHeight: 3.25rem;
$primaryBtnHeightDesktop: 2.75rem;

:root {
  @include mat.button-overrides(
    (
      filled-container-color: var(--primary),
      filled-label-text-size: var(--fs-lg),
      filled-container-height: $primaryBtnHeight,
      filled-container-shape: var(--radius-lg),
      filled-label-text-weight: var(--fw-medium),
      //
      text-label-text-color: var(--primary),
      text-container-height: $primaryBtnHeight,
      text-horizontal-padding: 1.5rem,
      text-container-shape: var(--radius-lg),
      text-state-layer-color: var(--primary),
      text-ripple-color: var(--secondary),
      //
      outlined-label-text-color: var(--primary),
      outlined-container-height: $primaryBtnHeight,
      outlined-horizontal-padding: 1.5rem,
      outlined-container-shape: var(--radius-lg),
      outlined-state-layer-color: var(--primary),
      outlined-ripple-color: var(--secondary),
    )
  );
}

@media (max-width: 1000px) {
  :root {
    @include mat.button-overrides(
      (
        filled-container-height: $primaryBtnHeightDesktop,
        text-container-height: $primaryBtnHeightDesktop,
        outlined-container-height: $primaryBtnHeightDesktop,
      )
    );
  }
}

// Primary Btn End

// Checkbox Start

:root {
  @include mat.checkbox-overrides(
    (
      unselected-icon-color: var(--text-secondary),
      selected-icon-color: var(--primary),
      selected-hover-icon-color: var(--primary),
      selected-focus-icon-color: var(--primary),
    )
  );
}

// Checkbox End

// Card Start
:root {
  @include mat.card-overrides(
    (
      elevated-container-color: var(--white),
      elevated-container-elevation: none,
      elevated-container-shape: none,
    )
  );
}

// Card End

// Button Group Start

:root {
  @include mat.button-toggle-overrides(
    (
      height: $primaryBtnHeight,
    )
  );
}

@media (max-width: 1000px) {
  :root {
    @include mat.button-toggle-overrides(
      (
        height: $primaryBtnHeightDesktop,
      )
    );
  }
}
