.animation-fade-start {
  animation: fadeIn 0.2s ease;
}

.animation-fade-end {
  animation: fadeOut 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.full-width {
  width: 100%;
  margin-bottom: var(--spacing-4);
}
